[user]
	email = mike2718@gmail.com
	name = Mike Akiba
	signingkey = 17C22010D29A50BC
[tar "tar.xz"]
    command = xz -c
[tar "tar.zst"]
    command = zstd -c
[pull]
	ff = only
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[http "https://pypi.org"]
	sslVerify = false
[http "https://github.com"]
	sslVerify = false
	proxy = http://127.0.0.1:7890
